# PROJETO SPACESHIP TITANIC

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

## Carregando base de dados e tratando valores nulos

In [2]:
df_train = pd.read_csv('dados/train.csv')

In [3]:
df_train.describe(include = 'O')

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name
count,8693,8492,8476,8494,8511,8490,8493
unique,8693,3,2,6560,3,2,8473
top,0001_01,Earth,False,G/734/S,TRAPPIST-1e,False,Gollux Reedall
freq,1,4602,5439,8,5915,8291,2

In [4]:
round(df_train.isnull().sum() * 100 / len(df_train))

PassengerId     0.0
HomePlanet      2.0
CryoSleep       2.0
Cabin           2.0
Destination     2.0
Age             2.0
VIP             2.0
RoomService     2.0
FoodCourt       2.0
ShoppingMall    2.0
Spa             2.0
VRDeck          2.0
Name            2.0
Transported     0.0
dtype: float64

In [5]:
for col in df_train.describe(include = 'O').columns:
    df_train.loc[df_train[f'{col}'].isnull(), f'{col}'] = '0'

In [6]:
for col in df_train.describe().columns:
    df_train.loc[df_train[f'{col}'].isnull(), f'{col}'] = 0

In [7]:
round(df_train.isnull().sum() * 100 / len(df_train))

PassengerId     0.0
HomePlanet      0.0
CryoSleep       0.0
Cabin           0.0
Destination     0.0
Age             0.0
VIP             0.0
RoomService     0.0
FoodCourt       0.0
ShoppingMall    0.0
Spa             0.0
VRDeck          0.0
Name            0.0
Transported     0.0
dtype: float64

## Tratando valores categoricos.

In [8]:
df_train['CryoSleep'] = df_train['CryoSleep'].replace({'False': 0, 'True': 1}).astype(int)
df_train['VIP'] = df_train['VIP'].replace({'False': 0, 'True': 1}).astype(int)

In [9]:
df_train.dtypes

PassengerId      object
HomePlanet       object
CryoSleep         int32
Cabin            object
Destination      object
Age             float64
VIP               int32
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [10]:
le = LabelEncoder()

df_train['HomePlanet'] = le.fit_transform(df_train['HomePlanet'])
df_train['Cabin'] = le.fit_transform(df_train['Cabin'])
df_train['Destination'] = le.fit_transform(df_train['Destination'])

In [11]:
df_train.dtypes

PassengerId      object
HomePlanet        int32
CryoSleep         int32
Cabin             int32
Destination       int32
Age             float64
VIP               int32
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [12]:
X = df_train.drop(['PassengerId', 'Name', 'Transported'], axis = 1)
y = df_train['Transported']

#  Utilizando o modelo Random Forest

In [13]:
norm_X = MinMaxScaler()
X_norm = norm_X.fit_transform(X)

norm_y = MinMaxScaler()
y_norm = norm_y.fit_transform(y.values.reshape(-1, 1))


X_train, X_test, y_train, y_test = train_test_split(X_norm, y_norm, test_size=0.20, random_state = 45)

In [14]:
y_train = y_train.ravel()
y_test = y_test.ravel()

In [15]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [16]:
y_pred = rf.predict(X_test)

In [17]:
accuracy_rf = accuracy_score(y_test, y_pred)

In [18]:
print(accuracy_rf)

0.8021851638872916

# Utlizando Random Forest em um Novo DF

In [27]:
df_train_ajust = pd.read_csv('dados/train.csv')

In [28]:
round(df_train_ajust.isnull().sum() * 100 / len(df_train_ajust))

PassengerId     0.0
HomePlanet      2.0
CryoSleep       2.0
Cabin           2.0
Destination     2.0
Age             2.0
VIP             2.0
RoomService     2.0
FoodCourt       2.0
ShoppingMall    2.0
Spa             2.0
VRDeck          2.0
Name            2.0
Transported     0.0
dtype: float64

In [29]:
for col in df_train_ajust.describe(include = 'O').columns:
    df_train_ajust.loc[df_train_ajust[f'{col}'].isnull(), f'{col}'] = '0'
for col in df_train_ajust.describe().columns:
    df_train_ajust.loc[df_train_ajust[f'{col}'].isnull(), f'{col}'] = 0

In [30]:
round(df_train_ajust.isnull().sum() * 100 / len(df_train_ajust))

PassengerId     0.0
HomePlanet      0.0
CryoSleep       0.0
Cabin           0.0
Destination     0.0
Age             0.0
VIP             0.0
RoomService     0.0
FoodCourt       0.0
ShoppingMall    0.0
Spa             0.0
VRDeck          0.0
Name            0.0
Transported     0.0
dtype: float64

### Removendo colunas com alto p-zero

In [31]:
df_train_ajust.drop(['VIP', 'RoomService'], axis = 1, inplace = True)

In [32]:
df_train_ajust.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,0.0,0.0,0.0,0.0,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [33]:
df_train_ajust['CryoSleep'] = df_train_ajust['CryoSleep'].replace({'False': 0, 'True': 1}).astype(int)

In [34]:
df_train_ajust.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,33.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,16.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [35]:
df_train_ajust.dtypes

PassengerId      object
HomePlanet       object
CryoSleep         int32
Cabin            object
Destination      object
Age             float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [36]:
le = LabelEncoder()

df_train_ajust['HomePlanet'] = le.fit_transform(df_train_ajust['HomePlanet'])
df_train_ajust['Cabin'] = le.fit_transform(df_train_ajust['Cabin'])
df_train_ajust['Destination'] = le.fit_transform(df_train_ajust['Destination'])

In [37]:
X = df_train_ajust.drop(['PassengerId', 'Name', 'Transported'], axis = 1)
y = df_train_ajust['Transported']

In [38]:
norm_X = MinMaxScaler()
X_norm = norm_X.fit_transform(X)

norm_y = MinMaxScaler()
y_norm = norm_y.fit_transform(y.values.reshape(-1, 1))


X_train, X_test, y_train, y_test = train_test_split(X_norm, y_norm, test_size=0.20, random_state = 45)

In [39]:
y_train = y_train.ravel()
y_test = y_test.ravel()

In [40]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [41]:
y_pred = rf.predict(X_test)

In [42]:
accuracy_rf = accuracy_score(y_test, y_pred)

In [43]:
print(accuracy_rf)

0.8004600345025877

# Random Forest utilizando dropna e passando os resultados para o test.csv e criando o submission file

In [44]:
from sklearn.tree import DecisionTreeClassifier

In [45]:
df = pd.read_csv('dados/train.csv')
df_test = pd.read_csv('dados/test.csv')

In [46]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [48]:
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [49]:
round(df.isnull().sum() * 100 / len(df))

PassengerId     0.0
HomePlanet      2.0
CryoSleep       2.0
Cabin           2.0
Destination     2.0
Age             2.0
VIP             2.0
RoomService     2.0
FoodCourt       2.0
ShoppingMall    2.0
Spa             2.0
VRDeck          2.0
Name            2.0
Transported     0.0
dtype: float64

In [50]:
for col in df.describe(include = 'O').columns:
    df.loc[df[f'{col}'].isnull(), f'{col}'] = '0'
    df_test.loc[df_test[f'{col}'].isnull(), f'{col}'] = '0'
    
for col in df.describe().columns:
    df.loc[df[f'{col}'].isnull(), f'{col}'] = '0'
    df_test.loc[df_test[f'{col}'].isnull(), f'{col}'] = '0'

In [51]:
df['CryoSleep'] = df['CryoSleep'].replace({'False': 0, 'True': 1}).astype(int)
df['VIP'] = df['VIP'].replace({'False': 0, 'True': 1}).astype(int)

df_test['CryoSleep'] = df_test['CryoSleep'].replace({'False': 0, 'True': 1}).astype(int)
df_test['VIP'] = df_test['VIP'].replace({'False': 0, 'True': 1}).astype(int)

In [52]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,0,A/98/P,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,1,G/1499/S,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,0,G/1500/S,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,0,E/608/S,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,0,E/608/S,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [53]:
le = LabelEncoder()

df['HomePlanet'] = le.fit_transform(df['HomePlanet'])
df['Cabin'] = le.fit_transform(df['Cabin'])
df['Destination'] = le.fit_transform(df['Destination'])

df_test['HomePlanet'] = le.fit_transform(df_test['HomePlanet'])
df_test['Cabin'] = le.fit_transform(df_test['Cabin'])
df_test['Destination'] = le.fit_transform(df_test['Destination'])

In [54]:
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,2,0,150,3,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,1,0,2185,3,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,2,0,2,3,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,2,0,2,3,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,1,0,2187,3,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [55]:
df_test.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,1,1,2785,3,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,1,0,1868,3,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,2,1,258,1,31.0,0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,2,0,260,3,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,1,0,1941,3,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [56]:
features_train = df.drop(['PassengerId', 'Name', 'Transported'], axis=1)
features_test = df_test.drop(['PassengerId', 'Name'], axis=1)
label_train = df['Transported']

In [57]:
X_train, X_val, y_train, y_val = train_test_split(features_train, label_train, test_size=0.2, random_state=45)

In [58]:
scaler = MinMaxScaler()
X_train_normalized = scaler.fit_transform(X_train)
X_val_normalized = scaler.transform(X_val)
X_test_normalized = scaler.transform(features_test)

In [59]:
rf = RandomForestClassifier()
rf.fit(X_train_normalized, y_train)

RandomForestClassifier()

In [60]:
predictions_val = rf.predict(X_val_normalized)
accuracy = accuracy_score(y_val, predictions_val)
print("Acurácia na validação:", accuracy)

Acurácia na validação: 0.7941345600920069

In [61]:
features_test = df_test.drop(['PassengerId', 'Name'], axis=1)
predictions_test = rf.predict(features_test)

C:\Users\cardo\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [62]:
submission_df = pd.DataFrame({
    'PassengerId': df_test['PassengerId'],
    'Transported': predictions_test
})

In [63]:
submission_df.to_csv('submission.csv', index=False)

In [64]:
submission_df.shape

(4277, 2)